html 
    head 
        title Tela Inicial
    body 
        h1 Tela Inicial
        a(href='/Cliente/listaCliente') Listagem de clientes
        <br>
        a(href='/Cliente/formularioCliente') Formulário de clientes